attrs==20.2.0
iniconfig==1.0.1
numpy==2.0.2
packaging==20.4
pandas==2.2.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.1.0
python-dateutil==2.8.2
pytz==2020.1
six==1.15.0
style==1.1.0
toml==0.10.1
tzdata==2024.1
update==0.0.1
